<h2>Challenging Spells Universal Patcher</h2>

<section>
    <ignore-plugins patcher-id="challengingSpellsUniversalPatcher"></ignore-plugins>
</section>

<section>
    <p>Change settings below to output list of spell tomes skipped or patched to the patcher log on patch completion.</p>
    <div>
        <label for="show-patched-spells-chk">Print patched spell tomes to log</label>
        <input type="checkbox" name="show-patched-spells-chk" ng-model="settings.challengingSpellsUniversalPatcher.showPatchedSpellTomes">
        <label for="show-patched-spells-chk">Print skipped books to log</label>
        <input type="checkbox" name="show-skipped-spells-chk" ng-model="settings.challengingSpellsUniversalPatcher.showSkippedBooks">
    </div>
</section>
